$gothic: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro", 'メイリオ',Meiryo,'ＭＳ Ｐゴシック','Roboto', sans-serif;
$mintyo: "ヒラギノ明朝 Pro","Hiragino Mincho Pro", "HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
$pc-min-width: 970px;
$link-color: aqua;