a#teams {
  font-size: 18;
}

img#league {
  display: block;
  background-color: white;
  width: 80%;
  padding: 20px;
}

img#tournament {
  display: block;
  background-color: white;
  width: 80%;
  padding: 20px;
}